.main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 
    .form{
        font-family: Georgia, 'Times New Roman', Times, serif;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 400px;
        background-color: rgb(246, 209, 215);
        border-radius: 30%;

        h1{
            font-size: 300%
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;

            label{
                font-size: 120%;
            }

            input{
                height: 25px;
                width: 200px;
            }

            button{
                margin-bottom: 5%;
                margin-top: 20%;
                height: 25px;
            }
        }

    }
}

